---
http_interactions:
- request:
    method: post
    uri: https://<CONSUMER_KEY>:<CONSUMER_SECRET>@api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 29 Nov 2014 16:30:22 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 5d3295599c32b8f47ee9f30f640f3566
      X-Transaction:
      - 83519cef55505478
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAE0bGAAAAAAAe6BhKvVvh%2FqYLyMxWxdVik0TLr8%3DAoFvvLF9RPwK2GeVQ8aqs5DoYGzCJciut2wB3OUEdDCBr6QDny"}'
  recorded_at: Sat, 29 Nov 2014 16:30:23 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Here%27s+a+test
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="ad82d22659bb97fd82e5580ab9b26916",
        oauth_signature="mqQKecsrAj5%2FiSSUTJPlbC7eONo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417280504", oauth_token="<ACCESS_KEY>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 29 Nov 2014 17:01:44 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f1e9c0d47a24e834b5c5457b92878211
      X-Transaction:
      - 6ba577a8fb155622
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Sat, 29 Nov 2014 17:01:45 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="126e545e03f23b46f3239994c7d6379e",
        oauth_signature="QAeJty3pJRwHAQhW%2FMRN%2BJ2eQMQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417280505", oauth_token="<ACCESS_KEY>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 29 Nov 2014 17:01:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ca9bb813a4df313c56dae697acf1f881
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1417281404'
      X-Transaction:
      - d83b0ba36dbc5d04
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sat Nov 29 16:32:08 +0000 2014","id":538732150712188929,"id_str":"538732150712188929","text":"Here''s
        a test","source":"\u003ca href=\"http:\/\/www.ratemyplace.org.uk\" rel=\"nofollow\"\u003eRatemyplace
        Test\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":384511071,"id_str":"384511071","name":"Soap
        Distant","screen_name":"soap_distant","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4,"friends_count":0,"listed_count":0,"created_at":"Mon
        Oct 03 20:27:40 +0000 2011","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":945,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_0_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_0_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Sat, 29 Nov 2014 17:01:45 GMT
recorded_with: VCR 2.9.3
